body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 1000;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 2px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 120px 20px 120px;
    max-width: calc(100vh * (16 / 9));
    margin: 0 auto;
    overflow: auto;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
    cursor: pointer;
}

p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    z-index: 1000;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.container ul {
    font-size: 18px;
    margin-bottom: 20px;
}

.container li {
    margin-bottom: 10px;
}

.container a {
    color: #007bff;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.animal-card {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.animal-image {
    flex: 0 0 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.animal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animal-details {
    flex: 1;
}

.animal-details h3 {
    margin: 0 0 10px;
    font-size: 24px;
}

.animal-details p {
    margin: 0;
    color: #555;
}

.animal-details a {
    color: #007bff;
    text-decoration: none;
}

.animal-details a:hover {
    text-decoration: underline;
}